mixin colorControl(id, binding)
    - var hueId = id + '-hue'
    - var brightnessId = id + '-brightness'
    .form-group
        .col-4
            label.form-label(for=id)
                block
        .col-8
            input.form-input(type='color', id=id, 'rv-value'=binding)
    .form-group
        .col-4
            label.form-label(for=hueId) ${{ index.hue }}$
        .col-8
            input.col-12.slider.hue-slider(type='range', min='0', max='360', value='0', id=hueId, 'data-color-input'=id)
    .form-group
        .col-4
            label.form-label(for=brightnessId) ${{ index.brightness }}$
        .col-8
            input.col-12.slider.brightness-slider(type='range', min='0', max='100', value='100', id=brightnessId, 'data-color-input'=id)

.contenttab#colorconfig
    h2 ${{ index.colorconfig.title }}$
    div ${{ index.colorconfig.description }}$
    .divider

    .h4 ${{ index.colorconfig.time.title }}$
    fieldset.form-horizontal
        div ${{ index.colorconfig.time.description }}$
        .columns

            .column.col-6.col-sm-12.mt-2
                .h6 ${{ index.color_day }}$

                +colorControl('hourcolor', 'config.hourColor')
                    | ${{ index.hour }}$

                +colorControl('minutecolor', 'config.minuteColor')
                    | ${{ index.minute }}$

                +colorControl('secondcolor', 'config.secondColor')
                    | ${{ index.second }}$

            .column.col-6.col-sm-12.mt-2
                .h6 ${{ index.color_night }}$

                +colorControl('hourcolordimmed', 'config.hourColorDimmed')
                    | ${{ index.hour }}$

                +colorControl('minutecolordimmed', 'config.minuteColorDimmed')
                    | ${{ index.minute }}$

                +colorControl('secondcolordimmed', 'config.secondColorDimmed')
                    | ${{ index.second }}$

    .divider

    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='daymonth')
                    input(type='checkbox' id='daymonth' rv-checked='config.dayMonth')
                    i.form-icon
                    span ${{ index.colorconfig.date.active }}$ 

    .h4(rv-if='config.dayMonth') ${{ index.colorconfig.date.title }}$
    fieldset.form-horizontal(rv-if='config.dayMonth')
        div ${{ index.colorconfig.date.description }}$
        .columns

            .column.col-6.col-xs-12.mt-2
                .h6 ${{ index.color_day }}$

                +colorControl('weekdaycolor', 'config.weekdayColor')
                    | ${{ index.weekday }}$

                +colorControl('daycolor', 'config.dayColor')
                    | ${{ index.date }}$

                +colorControl('monthcolor', 'config.monthColor')
                    | ${{ index.month }}$

            .column.col-6.col-xs-12.mt-2
                .h6 ${{ index.color_night }}$

                +colorControl('weekdaycolordimmed', 'config.weekdayColorDimmed')
                    | ${{ index.weekday }}$

                +colorControl('daycolordimmed', 'config.dayColorDimmed')
                    | ${{ index.date }}$

                +colorControl('monthcolordimmed', 'config.monthColorDimmed')
                    | ${{ index.month }}$

    .divider

    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='bglight')
                    input(type='checkbox' id='bglight' rv-checked='config.bgLight')
                    i.form-icon
                    span ${{ index.colorconfig.backlight }}$ 

            .column.col-6.bglightsettings(rv-if='config.bgLight')

                +colorControl('bgcolor', 'config.bgColor')
                    | ${{ index.day }}$

            .column.col-6.bglightsettings(rv-if='config.bgLight')

                +colorControl('bgcolordimmed', 'config.bgColorDimmed')
                    | ${{ index.night }}$
    
    .divider

    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='hourdot')
                    input(type='checkbox' id='hourdot' rv-checked='config.hourDot')
                    i.form-icon
                    span ${{ index.colorconfig.hourdot }}$ 

            .column.col-6.bglightsettings(rv-if='config.hourDot')

                +colorControl('hourdotcolor', 'config.hourDotColor')
                    | ${{ index.day }}$

            .column.col-6.bglightsettings(rv-if='config.hourDot')

                +colorControl('hourdotcolordimmed', 'config.hourDotColorDimmed')
                    | ${{ index.night }}$
    
    .divider
    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='hourquarter')
                    input(type='checkbox' id='hourquarter' rv-checked='config.hourQuarter')
                    i.form-icon
                    span ${{ index.colorconfig.hourquarter }}$ 

            .column.col-6.bglightsettings(rv-if='config.hourQuarter')

                +colorControl('hourquartercolor', 'config.hourQuarterColor')
                    | ${{ index.day }}$

            .column.col-6.bglightsettings(rv-if='config.hourQuarter')

                +colorControl('hourquartercolordimmed', 'config.hourQuarterColorDimmed')
                    | ${{ index.night }}$

    .divider
    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='hoursegment')
                    input(type='checkbox' id='hoursegment' rv-checked='config.hourSegment')
                    i.form-icon
                    span ${{ index.colorconfig.hoursegment }}$ 

            .column.col-6.bglightsettings(rv-if='config.hourSegment')

                +colorControl('hoursegmentcolor', 'config.hourSegmentColor')
                    | ${{ index.day }}$

            .column.col-6.bglightsettings(rv-if='config.hourSegment')

                +colorControl('hoursegmentcolordimmed', 'config.hourSegmentColorDimmed')
                    | ${{ index.night }}$
    
    .divider
    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='blendcolors')
                    input(type='checkbox' id='blendcolors' rv-checked='config.blendColors')
                    i.form-icon
                    span ${{ index.colorconfig.blendcolors }}$ 
