mixin colorRanges(idPrefix, binding)
    .slider-control
        label.form-label(for=idPrefix + '-hue') ${{ index.hue }}$
        input.form-input(type='range', id=idPrefix + '-hue', min='0', max='360', step='1', rv-value=binding + '.hue | int')
        span.slider-value(rv-text=binding + '.hue')
    .slider-control
        label.form-label(for=idPrefix + '-brightness') ${{ index.brightness }}$
        input.form-input(type='range', id=idPrefix + '-brightness', min='0', max='100', step='1', rv-value=binding + '.brightness | int')
        span.slider-value(rv-text=binding + '.brightness')

.contenttab#colorconfig
    h2 ${{ index.colorconfig.title }}$
    div ${{ index.colorconfig.description }}$
    .divider

    .h4 ${{ index.colorconfig.time.title }}$
    fieldset.form-horizontal
        div ${{ index.colorconfig.time.description }}$
        .columns

            .column.col-6.col-sm-12.mt-2
                .h6 ${{ index.color_day }}$

                .form-group
                    .col-4
                        label.form-label(for='hourcolor-hue') ${{ index.hour }}$
                    .col-8
                        +colorRanges('hourcolor', 'config.hourColor')
                
                .form-group
                    .col-4
                        label.form-label(for='minutecolor-hue') ${{ index.minute }}$
                    .col-8
                        +colorRanges('minutecolor', 'config.minuteColor')
                
                .form-group
                    .col-4
                        label.form-label(for='secondcolor-hue') ${{ index.second }}$
                    .col-8
                        +colorRanges('secondcolor', 'config.secondColor')

            .column.col-6.col-sm-12.mt-2
                .h6 ${{ index.color_night }}$

                .form-group
                    .col-4
                        label.form-label(for='hourcolordimmed-hue') ${{ index.hour }}$
                    .col-8
                        +colorRanges('hourcolordimmed', 'config.hourColorDimmed')
                
                .form-group
                    .col-4
                        label.form-label(for='minutecolordimmed-hue') ${{ index.minute }}$
                    .col-8
                        +colorRanges('minutecolordimmed', 'config.minuteColorDimmed')
                
                .form-group
                    .col-4
                        label.form-label(for='secondcolordimmed-hue') ${{ index.second }}$
                    .col-8
                        +colorRanges('secondcolordimmed', 'config.secondColorDimmed')

    .divider

    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='daymonth')
                    input(type='checkbox' id='daymonth' rv-checked='config.dayMonth')
                    i.form-icon
                    span ${{ index.colorconfig.date.active }}$ 

    .h4(rv-if='config.dayMonth') ${{ index.colorconfig.date.title }}$
    fieldset.form-horizontal(rv-if='config.dayMonth')
        div ${{ index.colorconfig.date.description }}$
        .columns

            .column.col-6.col-xs-12.mt-2
                .h6 ${{ index.color_day }}$

                .form-group
                    .col-4
                        label.form-label(for='weekdaycolor-hue') ${{ index.weekday }}$
                    .col-8
                        +colorRanges('weekdaycolor', 'config.weekdayColor')
                
                .form-group
                    .col-4
                        label.form-label(for='daycolor-hue') ${{ index.date }}$
                    .col-8
                        +colorRanges('daycolor', 'config.dayColor')
                
                .form-group
                    .col-4
                        label.form-label(for='monthcolor-hue') ${{ index.month }}$
                    .col-8
                        +colorRanges('monthcolor', 'config.monthColor')

            .column.col-6.col-xs-12.mt-2
                .h6 ${{ index.color_night }}$

                .form-group
                    .col-4
                        label.form-label(for='weekdaycolordimmed-hue') ${{ index.weekday }}$
                    .col-8
                        +colorRanges('weekdaycolordimmed', 'config.weekdayColorDimmed')
                
                .form-group
                    .col-4
                        label.form-label(for='daycolordimmed-hue') ${{ index.date }}$
                    .col-8
                        +colorRanges('daycolordimmed', 'config.dayColorDimmed')
                
                .form-group
                    .col-4
                        label.form-label(for='monthcolordimmed-hue') ${{ index.month }}$
                    .col-8
                        +colorRanges('monthcolordimmed', 'config.monthColorDimmed')

    .divider

    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='bglight')
                    input(type='checkbox' id='bglight' rv-checked='config.bgLight')
                    i.form-icon
                    span ${{ index.colorconfig.backlight }}$ 

            .column.col-6.bglightsettings(rv-if='config.bgLight')

                .form-group
                    .col-4
                        label.form-label(for='bgcolor-hue') ${{ index.day }}$
                    .col-8
                        +colorRanges('bgcolor', 'config.bgColor')
                
            .column.col-6.bglightsettings(rv-if='config.bgLight')

                .form-group
                    .col-4
                        label.form-label(for='bgcolordimmed-hue') ${{ index.night }}$
                    .col-8
                        +colorRanges('bgcolordimmed', 'config.bgColorDimmed')
    
    .divider

    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='hourdot')
                    input(type='checkbox' id='hourdot' rv-checked='config.hourDot')
                    i.form-icon
                    span ${{ index.colorconfig.hourdot }}$ 

            .column.col-6.bglightsettings(rv-if='config.hourDot')

                .form-group
                    .col-4
                        label.form-label(for='hourdotcolor-hue') ${{ index.day }}$
                    .col-8
                        +colorRanges('hourdotcolor', 'config.hourDotColor')
                
            .column.col-6.bglightsettings(rv-if='config.hourDot')

                .form-group
                    .col-4
                        label.form-label(for='hourdotcolordimmed-hue') ${{ index.night }}$
                    .col-8
                        +colorRanges('hourdotcolordimmed', 'config.hourDotColorDimmed')
    
    .divider
    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='hourquarter')
                    input(type='checkbox' id='hourquarter' rv-checked='config.hourQuarter')
                    i.form-icon
                    span ${{ index.colorconfig.hourquarter }}$ 

            .column.col-6.bglightsettings(rv-if='config.hourQuarter')

                .form-group
                    .col-4
                        label.form-label(for='hourquartercolor-hue') ${{ index.day }}$
                    .col-8
                        +colorRanges('hourquartercolor', 'config.hourQuarterColor')
                
            .column.col-6.bglightsettings(rv-if='config.hourQuarter')

                .form-group
                    .col-4
                        label.form-label(for='hourquartercolordimmed-hue') ${{ index.night }}$
                    .col-8
                        +colorRanges('hourquartercolordimmed', 'config.hourQuarterColorDimmed')

    .divider
    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='hoursegment')
                    input(type='checkbox' id='hoursegment' rv-checked='config.hourSegment')
                    i.form-icon
                    span ${{ index.colorconfig.hoursegment }}$ 

            .column.col-6.bglightsettings(rv-if='config.hourSegment')

                .form-group
                    .col-4
                        label.form-label(for='hoursegmentcolor-hue') ${{ index.day }}$
                    .col-8
                        +colorRanges('hoursegmentcolor', 'config.hourSegmentColor')
                
            .column.col-6.bglightsettings(rv-if='config.hourSegment')

                .form-group
                    .col-4
                        label.form-label(for='hoursegmentcolordimmed-hue') ${{ index.night }}$
                    .col-8
                        +colorRanges('hoursegmentcolordimmed', 'config.hourSegmentColorDimmed')
    
    .divider
    
    fieldset.form-horizontal
        .form-group 
            .col-12
                label.form-switch(for='blendcolors')
                    input(type='checkbox' id='blendcolors' rv-checked='config.blendColors')
                    i.form-icon
                    span ${{ index.colorconfig.blendcolors }}$ 
